.projects {

    h1, h2, h3, h4, h5, h6 { text-transform: none; }

    li.media {

        margin-top: 40px;
        border: .5px solid #CD1C26;
        border-radius: 3px;
        padding: 25px;
    }

    .media-object {
        margin-right: 15px;
    }

    dl {
        font-family: "FFDINWebPro","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 300;
        font-size: 1.1em;
        letter-spacing: 1px;

        dt {
            margin: 2px 0px;
        }

    }
}
