//* Projects
//
//#

.projects {
  padding-bottom: 5em;
}

/* Members */

.members {
  height: $view-members-circle-size;
  margin: 80px auto 0;
  position: relative;
  text-align: center;
  width: $view-members-circle-size;
}

.members--member {
  height: 40px;
  position: absolute;
    @media(max-width: $screen-md){
      position: relative;
    }
}

.members--member-img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.members--member-name {
  color: $black;
  font-size: 10px;
  padding-top: 7px;
  width: 100px;
  word-wrap: break-word;
}

.card-content-xl .members--member-img {
  margin: 0;
}

/* Student Modal */

.student {
  font-family: $font-family-sans-serif;
  margin-top: 1em;
  padding-bottom: 2em;
}

.edit-student {
  @extend .student;
  text-align: center;
}

.lines-back{
  background-image: url('../imgs/lines-right-2.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 300px;
}


.social-media{
  padding-top:1em;
}

.social-media-btn {
  display:inline-block;
  padding: 2em 0.5em 1em;

  a {
    color: $grey;
    letter-spacing: .2px;
    text-decoration: none;
  }

  :hover {
    text-decoration: underline;
  }
}

.social-media-btn-img {
  height: auto;
  width: 30px;
}

.student-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}


.student-name {
  background-image: url('../imgs/red-line.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 13px 2px;
  display: table;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-bottom: .3em;
  padding-top: .7em;
  text-transform: uppercase;
}

.student-title {
  color: $gray-light;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 1px;
}

.student-graduate {
  border: solid 2px $brand-primary;
  border-radius: 100%;
  color: $black;
  font-size: .9em;
  padding: .4em;
}

.graduates-in {
  color: $grey;
  font-size: 1.2em;
}

.student-seb {
  color: $grey;
}

.student-seb-title {
  background-image: url('../imgs/red-line.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 13px 2px;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
  width: auto;
  text-transform: uppercase;
  color: $gray-base;
  padding-top:1em;
  width: 500px;
  text-align: left;
}

.student-seb-list {
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  list-style: none;
  margin-left: -20px;


  &-del {
    color: $gray-light;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
      color: $gray-base;
    }
  }
}

.student-seb-list-items::before {
  color: $brand-primary;
  content: '• ';
  font-size: 1em;
}

.student-seb-list-item-space {
  padding-left: 1em;
}

/* Edit Student Profile */
.input-text {
  border-radius: 5px;
  border: solid 1px $gray-light;
  font-size: 1.3em;
  padding-left:1em;
  margin-left: 1em;
  width: 500px;
  height: 45px;
}

.add-seb {
  color: $brand-primary;
  padding-left: 5px;
}

.edit-student-buttons{
  padding-top: 2em;
}

//projet crud view styles
#project_image_preview {
    height: 75px;
    width: 125px;
    border: 1px solid white;
    margin-top: 7px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 2px solid #FBFBFB;

    &:hover{
        background: #F8F8F8;
        cursor: pointer;
    }

    i {
        color: black;
    }
}

// 
// Mobile View of projects based on comps
// Under construction :/
// 

@media (max-width: $screen-phone)  {
  // Center the h2 text 
  h1 {
    text-align: center;
  }
  // Center the red bar 
  hr.line-inline {
    // margin: 5px 3px 5px 30%2; 
    width: 75px;
  } 
}
.card-dropdown {
  outline: 1px solid transparent;
  background-color: #fff;
}
.card-content-xl img {
  margin: 0 auto;
}

@media(max-width: $screen-md){

  .project-title {
    margin-top: 1em !important;
  }
  
  .work.card {
    outline: 0;
  }

  .card .work.card-content-xl{
    padding: 0;
  }

  .card.card-light.work{
    outline-color: none;
  }
  
  .card .work.card-content-action:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .work.well {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .work.small {
    font-size: 80%;
  }

   h1.project-block{
    min-width: 0 !important;
   }

  .project-collapse.collapse{
    display: none;
    &.in{
      display: block;
    }
  }


}